# /etc/systemd/system/docsify.service
[Unit]
Description=Docsify server
After=network.target

[Service]
Type=simple
User=root
#TODO 修改 node 和 docsify 安装路径
ExecStart=/opt/node-v15.0.1-linux-x64/bin/node /opt/node-v15.0.1-linux-x64/bin/docsify serve /root/source/Note
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
